.ytmgr-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ytmgr-link {
  top: 355px;
  left: 29px;
  position: absolute;
  text-decoration: none;
}
.ytmgr-link1 {
  top: 403px;
  left: 28px;
  position: absolute;
  text-decoration: none;
}
.ytmgr-navlink {
  top: 450px;
  left: 26px;
  position: absolute;
  text-decoration: none;
}
.ytmgr-text1 {
  top: 90px;
  right: -20px;
  position: absolute;
  font-size: 36px;
}
