 .u-section-1 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 581px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: "3876-font";
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 78px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 95px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --radius: 5px;
  margin: 46px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  margin-bottom: 0;
  margin-top: 41px;
  height: 382px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 479px;
  }

  .u-section-1 .u-image-1 {
    height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    height: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-1 .u-image-1 {
    height: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-1 .u-image-1 {
    height: 207px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/photo-1483478550801-ceba5fe50e8e.jpeg');
  background-position: 50% 37.22%;
}

.u-section-2 .u-sheet-1 {
  min-height: 482px;
}

.u-section-2 .u-text-1 {
  font-family: "3876-font";
  margin: 60px 811px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 611px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 391px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 11px;
  }
} .u-section-3 {
  background-image: linear-gradient(#3b065e, #2f2933);
}

.u-section-3 .u-sheet-1 {
  min-height: 772px;
}

.u-section-3 .u-text-1 {
  font-family: "3876-font";
  margin: 58px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 58px;
}

.u-section-3 .u-repeater-1 {
  min-height: 596px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 298px;
  --radius: 15px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  --radius: 10px;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 298px;
  --radius: 15px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  --radius: 10px;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 298px;
  --radius: 15px;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  --radius: 10px;
  margin: 20px auto 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-3 .u-image-1 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-3 .u-image-1 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 484px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 484px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 484px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 517px;
}

.u-section-4 .u-text-1 {
  font-family: "3876-font";
  margin: 205px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 239px;
  }
} .u-section-5 {
  background-image: linear-gradient(#2f2933, #3b065e);
}

.u-section-5 .u-sheet-1 {
  min-height: 692px;
}

.u-section-5 .u-text-1 {
  font-family: "3876-font";
  margin: 20px auto 0;
}

.u-section-5 .u-blog-1 {
  width: 759px;
  margin: 20px auto;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 579px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 216px;
  width: 301px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: "3876-font";
  margin: -216px 0 0 341px;
}

.u-section-5 .u-text-3 {
  margin: 22px 0 0 341px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 216px;
  width: 301px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: "3876-font";
  margin: -216px 0 0 341px;
}

.u-section-5 .u-text-5 {
  margin: 22px 0 0 341px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-blog-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-blog-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 333px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 333px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 333px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-blog-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 230px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 252px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 252px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 230px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 252px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 252px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-blog-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 129px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 148px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    margin-top: 21px;
    margin-left: 150px;
  }

  .u-section-5 .u-image-2 {
    width: 129px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 148px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-5 {
    margin-top: 21px;
    margin-left: 150px;
  }
} .u-section-6 {
  background-image: linear-gradient(#3b065e, #333333);
}

.u-section-6 .u-sheet-1 {
  min-height: 521px;
}

.u-section-6 .u-text-1 {
  font-family: "3876-font";
  margin: 20px auto 0;
}

.u-section-6 .u-group-1 {
  width: 536px;
  --radius: 30px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 214px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(45deg, #3b065e, #2f2933);
  margin: 20px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-family: "3876-font";
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 45px 9px 0;
}

.u-section-6 .u-group-2 {
  width: 536px;
  --radius: 30px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 214px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(45deg, #3b065e, #2f2933);
  margin: -214px 20px 60px auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-family: "3876-font";
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 45px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    margin-right: 4px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }
}

.u-section-6 .u-group-2,
.u-section-6 .u-group-2:before,
.u-section-6 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-group-2.u-group-2.u-group-2:hover {
  transform: scale(1.15) !important;
}

.u-section-6 .u-group-2.u-group-2.u-group-2.hover {
  transform: scale(1.15) !important;
}

.u-section-6 .u-group-1,
.u-section-6 .u-group-1:before,
.u-section-6 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.14) !important;
}

.u-section-6 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.14) !important;
}