.vtmgr-policy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.vtmgr-policy-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.vtmgr-policy-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.vtmgr-policy-logo {
  font-size: 1em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.vtmgr-policy-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.vtmgr-policy-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.vtmgr-policy-nav2 {
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.vtmgr-policy-nav2:hover {
  color: #3d6e70ff;
}
.vtmgr-policy-nav4 {
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.vtmgr-policy-nav4:hover {
  color: #3d6e70ff;
}
.vtmgr-policy-nav5 {
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.vtmgr-policy-nav5:hover {
  color: #3d6e70ff;
}
.vtmgr-policy-burger-menu {
  display: none;
}
.vtmgr-policy-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.vtmgr-policy-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.vtmgr-policy-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vtmgr-policy-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.vtmgr-policy-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.vtmgr-policy-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vtmgr-policy-icon2 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.vtmgr-policy-container1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.vtmgr-policy-text001 {
  font-size: 3em;
  margin-top: var(--dl-space-space-twounits);
}
.vtmgr-policy-text002 {
  font-size: 30px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.vtmgr-policy-text004 {
  font-size: 30px;
}
.vtmgr-policy-text007 {
  font-size: 30px;
}
.vtmgr-policy-text009 {
  font-size: 30px;
}
.vtmgr-policy-text012 {
  font-size: 30px;
}
.vtmgr-policy-text014 {
  font-size: 30px;
}
.vtmgr-policy-text017 {
  font-size: 30px;
}
.vtmgr-policy-text020 {
  font-size: 30px;
}
.vtmgr-policy-text022 {
  font-size: 30px;
}
.vtmgr-policy-text025 {
  font-size: 30px;
}
.vtmgr-policy-text028 {
  font-size: 30px;
}
.vtmgr-policy-text031 {
  font-size: 30px;
}
.vtmgr-policy-text034 {
  font-size: 30px;
}
.vtmgr-policy-text037 {
  font-size: 30px;
}
.vtmgr-policy-text039 {
  font-size: 30px;
}
.vtmgr-policy-text042 {
  font-size: 30px;
}
.vtmgr-policy-text045 {
  font-size: 30px;
}
.vtmgr-policy-text047 {
  font-size: 30px;
}
.vtmgr-policy-text050 {
  font-size: 30px;
}
.vtmgr-policy-text052 {
  font-size: 30px;
}
.vtmgr-policy-text055 {
  font-size: 30px;
}
.vtmgr-policy-text058 {
  font-size: 30px;
}
.vtmgr-policy-text060 {
  font-size: 30px;
}
.vtmgr-policy-text063 {
  font-size: 30px;
}
.vtmgr-policy-text066 {
  font-size: 30px;
}
.vtmgr-policy-text068 {
  font-size: 30px;
}
.vtmgr-policy-text071 {
  font-size: 30px;
}
.vtmgr-policy-text073 {
  font-size: 30px;
}
.vtmgr-policy-text076 {
  font-size: 30px;
}
.vtmgr-policy-text079 {
  font-size: 30px;
}
.vtmgr-policy-text081 {
  font-size: 30px;
}
.vtmgr-policy-text084 {
  font-size: 30px;
}
.vtmgr-policy-text087 {
  font-size: 30px;
}
.vtmgr-policy-text089 {
  font-size: 30px;
}
.vtmgr-policy-text092 {
  font-size: 30px;
}
.vtmgr-policy-text095 {
  font-size: 30px;
}
.vtmgr-policy-text098 {
  font-size: 30px;
}
.vtmgr-policy-text101 {
  font-size: 30px;
}
.vtmgr-policy-text104 {
  font-size: 30px;
}
.vtmgr-policy-text107 {
  font-size: 30px;
}
.vtmgr-policy-text110 {
  font-size: 30px;
}
.vtmgr-policy-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.vtmgr-policy-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.vtmgr-policy-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.vtmgr-policy-logo2 {
  color: var(--dl-color-gray-white);
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}
.vtmgr-policy-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.vtmgr-policy-nav21 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.vtmgr-policy-nav41 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.vtmgr-policy-nav51 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.vtmgr-policy-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.vtmgr-policy-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.vtmgr-policy-text113 {
  color: var(--dl-color-secondary-gray500);
}
@media(max-width: 767px) {
  .vtmgr-policy-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .vtmgr-policy-desktop-menu {
    display: none;
  }
  .vtmgr-policy-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vtmgr-policy-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .vtmgr-policy-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .vtmgr-policy-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .vtmgr-policy-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .vtmgr-policy-text113 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .vtmgr-policy-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .vtmgr-policy-logo {
    font-size: 1.5em;
  }
  .vtmgr-policy-mobile-menu {
    padding: 16px;
  }
  .vtmgr-policy-logo1 {
    font-size: 1.5em;
  }
  .vtmgr-policy-icon2 {
    fill: var(--dl-color-gray-900);
  }
  .vtmgr-policy-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .vtmgr-policy-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .vtmgr-policy-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .vtmgr-policy-text113 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
