 .u-section-1 {
  background-image: url("../images/1614636759_16-p-fon-gori-dlya-fotoshopa-20.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 190px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 55px auto 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 57px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 8px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 8px auto 0 16px;
  padding: 8px 33px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 16px auto 60px 16px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}