.ytmgr2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ytmgr2-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.ytmgr2-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.ytmgr2-logo {
  font-size: 1em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.ytmgr2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.ytmgr2-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.ytmgr2-nav2 {
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ytmgr2-nav2:hover {
  color: #3d6e70ff;
}
.ytmgr2-nav4 {
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ytmgr2-nav4:hover {
  color: #3d6e70ff;
}
.ytmgr2-nav5 {
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ytmgr2-nav5:hover {
  color: #3d6e70ff;
}
.ytmgr2-burger-menu {
  display: none;
}
.ytmgr2-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.ytmgr2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.ytmgr2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ytmgr2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.ytmgr2-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.ytmgr2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ytmgr2-icon2 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.ytmgr2-container1 {
  width: 100%;
  height: 516px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.ytmgr2-text1 {
  width: auto;
  height: auto;
  font-size: 3em;
  align-self: center;
}
.ytmgr2-text4 {
  font-size: 30px;
  max-width: auto;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.ytmgr2-link {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ytmgr2-link1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ytmgr2-link2 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ytmgr2-navlink {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ytmgr2-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.ytmgr2-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.ytmgr2-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.ytmgr2-logo2 {
  color: var(--dl-color-gray-white);
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}
.ytmgr2-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.ytmgr2-nav21 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.ytmgr2-nav41 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.ytmgr2-nav51 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.ytmgr2-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.ytmgr2-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ytmgr2-text8 {
  color: var(--dl-color-secondary-gray500);
}
@media(max-width: 767px) {
  .ytmgr2-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .ytmgr2-desktop-menu {
    display: none;
  }
  .ytmgr2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ytmgr2-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .ytmgr2-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .ytmgr2-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .ytmgr2-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .ytmgr2-text8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .ytmgr2-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .ytmgr2-logo {
    font-size: 1.5em;
  }
  .ytmgr2-mobile-menu {
    padding: 16px;
  }
  .ytmgr2-logo1 {
    font-size: 1.5em;
  }
  .ytmgr2-icon2 {
    fill: var(--dl-color-gray-900);
  }
  .ytmgr2-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .ytmgr2-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .ytmgr2-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .ytmgr2-text8 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
